<!------------Navigation Bar---------------->
<% include headerTwo.ejs %>
<!------------Content----------------->
<div class="dashboard-layout">
    <h1>Dashboard</h1>
    <p>
        <h2>Welcome <%= user.username %>!</h2>
    </p>



</div>