<!------------Navigation Bar---------------->
<% include headerTwo.ejs %>
<!------------Content----------------->
<div class="dashboard-layout">
    <h1>Dashboard</h1>
    <p>
        <h2>Welcome <%= user.username %>!</h2>
    </p>

    <form id="desc" action="/desc" method="post">
        <ul>
            <textarea rows="1" cols="20" id="newDesc" name="newDesc"><%= user.description %></textarea>
            <input type="submit" value="Search for a Player">
        </ul>
    </form>

</div>