
        <title> KnowItAll:Sports| Home</title>

                <!------------Navigation Bar---------------->
<%- include header.ejs %>

<h1>Home</h1>
<div>Know It All Sports allows users to create acoounts to save their favorite sports teams statistics.</div>

