
        <title> KnowItAll:Sports| Home</title>


        <!------------Navigation Bar---------------->
<%- include header.ejs %>

      <!--------------------->
      <div class = "form-layout">
          <ul>
            <h1>Login</h1>
            <br/>
          <div id = "index-buttons">
            <% include ./partials/messages %>
            <form action="/user/login" method="POST">
              
                <label for="username">Username</label>
                <input
                  type="username"
                  id="username"
                  name="username"
                  class="form-control"
                  placeholder="Enter username"
                />
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
                <br/> 
              <button type="submit" class="btn btn-primary btn-block">Login</button>
              </ul>
            </form>
              No Account? <a href="/user/register">Register</a>
            </p>
            </div>
      </div>
      

