body {
    
    background-image: url("https://i.imgur.com/rW6lWeJ.png");
    background-repeat: repeat;
    font-family: 'Roboto Slab', serif;
    color: rgb(226, 225, 225);
}

li{
    color: rgb(39, 38, 38);
}
